.bookDetails {
  max-width: 1280px;
  padding: 30px;
  margin: 0 auto;
  min-height: calc(660px);
}

.bookDetails img {
  float: left;
  margin: 0 40px 20px 0;
  box-shadow: 5px 10px 7px rgba(0, 0, 0, 0.5);
}

.category {
  color: #0e0e0e;
  font-size: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}

.authors {
  color: #0e0e0e;
  font-size: 16px;
}

.description {
  margin-top: 16px;
  line-height: 1.5;
  text-align: left;
}

.details {
  margin: 15px 0 0;
  font-size: 14px;
  color: #284ccf;
}

.details:hover {
  color: #213eaa;
}

@media (max-width: 800px) {
  .bookDetails {
    display: flex;
    flex-direction: column;
  }

  .bookDetails img {
    float: none;
    margin: 0 auto 20px;
  }

  .info {
    text-align: center;
  }

  .title {
    font-size: 16px;
  }

  .authors,
  .category {
    font-size: 14px;
  }

  .description {
    font-size: 14px;
  }
  .details {
    font-size: 13px;
  }
}
